/* THEME: DARK (DEFAULT) */
:root {
  --bg: #0e0e11;
  --card: #1a1a21;
  --text: #ffffff;
  --accent: #5ea2ff;
}

/* THEME: BLUE */
body.blue {
  --bg: #0b0f29;
  --card: #111836;
  --text: #e8f0ff;
  --accent: #4c7dff;
}

/* THEME: PURPLE */
body.purple {
  --bg: #17091f;
  --card: #24122e;
  --text: #ffeaff;
  --accent: #b15cff;
}

/* THEME: GREEN */
body.green {
  --bg: #071a14;
  --card: #0e2b22;
  --text: #e2fff3;
  --accent: #4cff9f;
}
